@using System.Web.Optimization
@using MSLivingChoices.Configuration
@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@using MSLivingChoices.Utilities
@using MSLivingChoices.Mvc.Uipc.Client.ViewModels

@model SearchVm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"
          charset="utf-8" />
    @{Html.RenderPartial("~/Views/Client/Shared/Partial/NoScript.cshtml");}
    @{ Html.RenderPartial("~/Views/Client/Partial/Favicon.cshtml"); }
    <title>@Model.Seo.Title</title>
    <link rel="canonical" href="@Model.Seo.CanonicalUrl" />
    @if (!Model.Seo.Description.IsNullOrEmpty())
    {
        <meta name="description" content="@Model.Seo.Description" />
    }

    @if (!Model.Seo.LinkPrev.IsEmpty())
    {
        <link rel="prev" href="@Model.Seo.LinkPrev" />
    }

    @if (!Model.Seo.LinkNext.IsEmpty())
    {
        <link rel="next" href="@Model.Seo.LinkNext" />
    }

    @*@Styles.Render("~/content/less/bundles/shared")
        @Styles.Render("~/content/less/bundles/client")*@
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="~/Content/css/Rohaan/font-awesome/all.min.css" />
    <link rel="stylesheet" href="~/Content/css/Rohaan/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/Content/css/Rohaan/bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="~/Content/css/Rohaan/select2/select2.min.css" />
    <link rel="stylesheet" href="~/Content/css/Rohaan/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/css/Rohaan/owl-carousel/owl.carousel.min.css" />
    <link href="~/Content/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link rel='stylesheet' href='~/Content/css/Rohaan/jquery-ui.css'>
    <link rel="stylesheet" href="~/Content/css/Rohaan/style.css" />
    <style>
        .btn-brand-red {
            background-color: dodgerblue;
        }.select .caption {
            padding-right: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
        }

        .select .items {
            display: none;
            list-style: none;
            position: absolute;
            width: 100%;
            z-index: 2;
            border: 1px solid #ccc;
            border-top: none;
            background-color: #fff;
        }

            .select .items > li:not(.active) {
                cursor: pointer;
            }

            .select .items.single > li {
                padding: 5px 10px;
            }

        .modal-header .close {
            font-size: 20px;
            font-weight: normal;
            padding: 15px;
            float: right;
            line-height: 1;
            letter-spacing: normal;
        }

        .modal-header {
            display: block;
        }

        textarea.form-control.medium {
            height: 120px;
        }

        .select {
            position: relative;
            background-color: #fff;
            width: 100%;
        }

        .input-group > * {
            display: table-cell;
            vertical-align: middle;
        }

        .select .caption {
            padding-right: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
        }
        #ui-datepicker-div {
            z-index: 99999 !important
        }
        .ui-datepicker {
            width: 250px; /*what ever width you want*/
        }
        .ui-datepicker .ui-datepicker-header {
            background: dodgerblue;
        }
        .ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
            width: 100%;
            height: 100%;
        }
        .ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon {
            width: 100%;
            height: 100%;
        }
        .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
            top: 8px;
            width: 1em;
            height: 1em;
        }
        [class*='list-col-'].one-line {
            white-space: nowrap;
            -webkit-column-gap: 20px;
            -moz-column-gap: 20px;
            column-gap: 20px;
        }

        [class*='list-col-'] {
            list-style: none;
            min-height: initial;
        }
        .ind-s {
            margin-top: 10px;
        }

        address, .address {
            margin-bottom: 0;
            font-style: normal;
            color: #000;
            font-weight: bold;
        }
    </style>
    @if (IsSectionDefined("css"))
    {
        @RenderSection("css")
    }
    <!--[if lte IE 8]>
        <script type="text/javascript" src="/Scripts/ie8.js"></script>
    <![endif]-->
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KN7G89D" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-KN7G89D');
    </script>
    <!-- End Google Tag Manager -->
    <header class="header">
        <div class="grid-row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="@MslcUrlBuilder.BaseUrl" itemprop="url">
                                <img class="img-fluid" src="~/Content/images/logo/mslc-logo-search.png"
                                     alt="Senior Living Choices"
                                     itemprop="logo" />
                            </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                                <!--<ul class="navbar-nav m-auto">
                                        @{var searchType = Model.SearchBar.SearchTypeList.Where(x => x.Text == "Senior Housing & Care").FirstOrDefault(); }
                                        <li class="nav-item" @(searchType.Selected ? "style=color:#013f7a;" : string.Empty)>
                                            <a class="nav-link" href="@searchType.UrlValue">
                                                Senior Living Choices & Types
                                            </a>
                                        </li>
                                        @{searchType = Model.SearchBar.SearchTypeList.Where(x => x.Text == "Active Adult Communities").FirstOrDefault(); }
                                        <li class="nav-item" @(searchType.Selected ? "style=color:#013f7a;" : string.Empty)>
                                            <a class="nav-link" href="@searchType.UrlValue">
                                                Housing & Community Listings
                                            </a>
                                        </li>
                                        @{searchType = Model.SearchBar.SearchTypeList.Where(x => x.Text == "Products & Services").FirstOrDefault(); }
                                        <li class="nav-item" @(searchType.Selected ? "style=color:#013f7a;" : string.Empty)>
                                            <a class="nav-link" href="@searchType.UrlValue">
                                                Products & Services
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.RouteUrl("AboutUs")">About Us</a>-->
                                @*     <a class="nav-link" href="/about-us">About Us</a>*@
                                <!--</li>
                                </ul>-->
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/senior-type">
                                            Senior Living Choices & Types
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/senior-housing">
                                            Housing & Community Listings
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="senior-care">
                                            Products & Services
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.RouteUrl("AboutUs")">About Us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-flex align-items-center add-listing">
                                <div class="search mr-md-3 mr-1">
                                    <a class="btn btn-md btn-secondary" href="https://www.facebook.com/SeniorLivingChoices"><i class="fab fa-facebook-f"></i></a>
                                </div>
                                <div class="login-btn mr-md-3 mr-1">
                                    <a class="btn btn-md btn-primary" href="@Url.Action("LogIn", "Account")"><i class="far fa-user-circle pr-2"></i>Advertiser Login</a>
                                </div>
                            </div>
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-align-left text-primary"></i></button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    @{ Html.RenderPartial("~/Views/Client/Partial/Footer.cshtml"); }
    <div class="modal fade" id="pop-up-lead-form" tabindex="-1" role="dialog" aria-hidden="true">
        @{ Html.RenderPartial("~/Views/Client/Controls/LeadForm/PopUp.cshtml"); }
    </div>
    <div class="notifications-area"></div>

    @{ Html.RenderPartial("~/Views/Client/Partial/Notification.cshtml"); }

    @Scripts.Render("~/scripts/bundle/lib")
    <script src="~/Scripts/lib/jquery-ui.datepicker.js"></script>
    @* <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&ver=7.0.10.008&#8221"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHCxrduehCUJNdWjCslL_CTFb9ZykNj7s&callback=initMap&libraries=&v=weekly"
            async></script>

    <script src="~/Scripts/lib/jquery.timepicker.js"></script>
    @Scripts.Render("~/scripts/bundle/client")

    @{ Html.RenderPartial("~/Views/Client/Partial/Config.cshtml"); }

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts")
    }
    <script type="text/javascript">
            mslc.resolve(['lib/jQuery', 'lib/ko', 'client/widgets/searchBar'], function($, ko, SearchBar) {
                var model = new SearchBar(@Html.Json(Model.SearchBar), $('[data-search="form"]'));
                var searchBar = document.getElementById('search-bar');
                ko.applyBindings(model, searchBar);
            }, 'search-bar-init');

            mslc.resolve(['client/analytics/google', 'lib/jQuery'], function(ga, $) {
                $('footer a[data-link-type]').on('click', function() {
                    var linkType = $(this).data('link-type');

                    ga.trackLinkVisit('Footer', linkType);
                });

                $('[data-ga="book-order"]').on('click', function() {
                    ga.trackLinkVisit('Book Order');
                });
            }, 'ga-out-links-tracking');
    </script>
    <script>
        var select = $('#exampleFormControlSelect2');
        if (select != undefined) {
            select.on('change', function () {
                console.log('#clickOn_' + this.value);
                $('#clickOn_' + this.value).trigger('focus');
                $('#clickOn_' + this.value).click();
            });
        }
    </script>
</body>
</html>