@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.SearchVm

@{
    Layout = "~/Views/Client/Shared/_BaseLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        mslc.resolve(['client/widgets/carousel'], function (carousel) {
            carousel.init('featured-services-carousel');
        }, 'init-carousel');
    </script>

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("Scripts")
    }
}

<header class="header">
    <div class="grid-row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="@MslcUrlBuilder.BaseUrl" itemprop="url">
                            <img class="img-fluid" src="~/Content/images/logo/mslc-logo-search.png"
                                 alt="Senior Living Choices"
                                 itemprop="logo" />
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <ul class="navbar-nav m-auto">
                                @foreach (var searchType in Model.SearchBar.SearchTypeList)
                                {
                                    <li class="nav-item"  @(searchType.Selected ? "style=color:#013f7a;" : string.Empty)>
                                        <a class="nav-link" href="@searchType.UrlValue">
                                            @searchType.Text
                                        </a>
                                    </li>
                                    
                                }
                            </ul>
                        </div>
                        @*<div class="d-flex align-items-center add-listing">
                            <div class="search mr-md-3 mr-1">
                                <a class="btn btn-md btn-secondary" href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="login-btn mr-md-3 mr-1">
                                <a class="btn btn-md btn-primary" href="@Url.Action("LogIn", "Account")"><i class="far fa-user-circle pr-2"></i>Advertiser Login</a>
                            </div>*@

                            <div class="d-flex align-items-center add-listing">
                                <div class="search mr-md-3 mr-1">
                                    <a class="btn btn-md btn-secondary" href="#"><i class="fab fa-facebook-f"></i></a>
                                </div>
                                <div class="login-btn mr-md-3 mr-1">
                                    <a class="btn btn-md btn-primary" href="@Url.RouteUrl("iListDefault")"><i class="far fa-user-circle pr-2"></i>Advertiser Login</a>
                                </div>
                                <div class="sign-up-btn">
                                    <a class="btn btn-md btn-primary" href="sign-up.html">Sign Up</a>
                                </div>
                            </div>
                        @*</div>*@
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-align-left text-primary"></i></button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

@RenderBody()
