@using MSLivingChoices.Entities.Client.Search.Criteria
@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@using MSLivingChoices.Mvc.Uipc.Client.ViewModelsProviders
@using MSLivingChoices.Mvc.Uipc.Enums
@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.CommunityDetailsVm

@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@section scripts
{
   @* @{ Html.RenderPartial("~/Views/Client/Search/Partial/PhotoTour.cshtml"); }*@
    @{ Html.RenderPartial("~/Views/Client/Controls/LeadForm/CommunityUnitPopUp.cshtml"); }

    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51f632df2d7a5c98"></script>
    <script type="text/javascript">
        mslc.resolve(['lib/ko'], function(ko) {
            ko.applyBindings(@Html.Json(Model.Community.Images), document.getElementById('photo'));
        });

        mslc.resolve(['client/widgets/leadForm'], function(leadForm) {
            leadForm.initInline(@Html.Json(ClientViewModelsProvider.GetLeadFormVm(Model)));
            leadForm.initPopUpSharedData(@Html.Json(ClientViewModelsProvider.GetLeadFormVm(Model)));
        });
        mslc.resolve(['client/widgets/googlePublisherTag'], function(gpt) {
            gpt.initDetailsSlots({
                country: '@Model.Criteria.CountryCode()',
                state: '@Model.Criteria.StateCode()',
                city: '@Model.Criteria.City()'
            });
        }, 'init-gpt');

        mslc.resolve(['client/analytics/google', 'lib/jQuery'], function(ga, $) {
            var dimensions = {
                communityId: @Model.Community.Id,
                bookNumber: '@Model.Community.BookNumber'
            };

            ga.trackPageView(dimensions);

            $('a[data-community-link-type]').on('click', function() {
                var linkType = $(this).data('community-link-type');

                ga.trackCommunityEvent('LinkVisit', linkType, dimensions);
            });
        }, 'ga-tracking');

        mslc.resolve(['client/widgets/communityUnit'], function(units) {
            units.addCollectionToStorage(@Html.Json(Model.FloorPlans));
            units.addCollectionToStorage(@Html.Json(Model.SpecHomes));
            units.addCollectionToStorage(@Html.Json(Model.Homes));
        });
    </script>

    @if (Model.DisplayProperties.Map)
    {
        <script type="text/javascript">
            mslc.resolve(['lib/jQuery', 'lib/ko', 'client/controls/maps/directions'], function($, ko, DirectionsMap) {
                var $target = $('[data-container="map"]'),
                    data = {
                        latitude: @Model.Community.Address.Latitude,
                        longitude: @Model.Community.Address.Longitude,
                        endingAddress: '@Html.Raw(Model.Community.Address.ToString())',
                        printDirectionBaseUrl: '@Model.Community.PrintDirectionBaseUrl'
                    },
                    model = new DirectionsMap(data, $target);

                ko.applyBindings(model, $target[0]);
            }, 'google-map-init');
        </script>
    }
}

<div class="head-search-bar">
    <div class="container">
        <div class="row">
            @{ Html.RenderPartial("~/Views/Client/Partial/SearchBarForm.cshtml"); }
            <div class="addthis_toolbox social col-any-16">
                <a class="icon-arrow-follow-back link-txt"
                   href="@Model.Breadcrumbs[Model.Breadcrumbs.Count - 2].Href">Back to Search Results</a>
                @if (Model.DisplayProperties.SocialButtons)
                {
                    <a class="addthis_button_facebook icon-facebook link-icon"></a>
                    <a class="addthis_button_twitter icon-twitter link-icon"></a>
                    <a class="addthis_button_google_plusone_share icon-google link-icon"></a>
                    <a class="addthis_button_pinterest_share icon-pinterest link-icon"></a>
                }
                <a class="icon-print link-icon"
                   href="@Model.Community.PrintUrl"
                   target="_blank"></a>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("~/Views/Client/Partial/Breadcrumbs.cshtml", new ViewDataDictionary(Model.Breadcrumbs)); }

@{
    string communityItemType = Model.PageType.ToSearchType() == SearchType.ActiveAdultHomes
        ? "http://schema.org/GatedResidenceCommunity"
        : "http://schema.org/Residence";
}
<div class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inner-title text-white">Property Details</h1>
            </div>
        </div>
    </div>
</div>

<section class="space-pt" itemscope itemtype="@communityItemType">
    <div class="container">
        <div class="row" id="photo">
            <div class="col-lg-7 mb-4 mb-md-5 mb-lg-0">
                <div class="owl-carousel owl-dots-bottom-center list" data-nav-arrow="true" data-nav-dots="false" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
                    @foreach (var Image in Model.Community.Images)
                    {
                        <div class="item">
                            <img class="img-fluid" alt="" style="height: 400px;" src="@Image.Src">
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-5">
                <div class="property-detail p-0">
                    <h2 class="property-title">@Model.Seo.Header</h2>
                    <ul class="pl-0 property-info">
                        <li class="">
                            <i class="fas fa-map-marker-alt fa-1x mr-1 text-primary"></i>
                            <span>
                                EXACT - @Model.Community.Address.City, @Model.Community.Address.StateCode @Model.Community.Address.Zip
                            </span>
                        </li>
                        <li class="">
                            <i class="fas fa-building fa-1x text-primary mr-1"></i><span>
                                Housing Provided:
                                <a href="#">55+ Community</a>  •  <a href="#">Apartments</a>
                            </span>
                        </li>
                        <li class="">
                            <p class="mb-0">
                                <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <span class="address-line" itemprop="streetAddress">@Model.Community.Address.Line</span> <br />
                                    <span class="city" itemprop="addressLocality">@Model.Community.Address.City</span>
                                    <span class="state" itemprop="addressRegion">@Model.Community.Address.StateCode</span>
                                    <span itemprop="postalCode">@Model.Community.Address.Zip</span>
                                </address>
                            </p>
                        </li>
                        <li class="price text-primary">
                            @if (Model.Community.DisplayProperties.Price)
                            {
                                <b>
                                    @Model.Community.Price
                                </b>
                            }
                        </li>
                        <li class="sqft"><b>$6,500/Sqft</b></li>
                        <li class="reviews"><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star-half-alt text-primary"></i><span class="pl-2">(2 customer reviews)</span></li>
                        <li class=""><i class="fas fa-compress-alt text-primary"></i><span>Compare</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-start mt-4 mt-lg-5">
            <div class="col-lg-7">
                @* @if (Model.Community.Beds.IsValued || Model.Community.Bathes.IsValued || Model.Community.Area.IsValued)
            {*@
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Property Details</h3>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            @if (Model.Community.Beds.IsValued || Model.Community.Bathes.IsValued || Model.Community.Area.IsValued)
                            {
                                <div class="col-md-6">
                                    <ul class="property-list  list-unstyled mb-0">
                                        @if (Model.Community.Beds.IsValued)
                                        {
                                            <li>
                                                <strong class="value icon-bed">
                                                    Beds:
                                                </strong>
                                                <span>@Model.Community.Beds.Value</span>
                                                <span class="unit">
                                                    @Model.Community.Beds.Unit
                                                </span>
                                            </li>
                                        }
                                        @if (Model.Community.Bathes.IsValued)
                                        {
                                            <li>
                                                <strong class="value icon-bath">
                                                    BATHROOMS:
                                                </strong>
                                                <span>@Model.Community.Bathes.Value</span>
                                                <span class="unit">
                                                    @Model.Community.Bathes.Unit
                                                </span>
                                            </li>
                                        }
                                        @if (Model.Community.Area.IsValued)
                                        {
                                            <li>
                                                <strong class="value icon-square">
                                                    AREA:
                                                </strong>
                                                <span>@Model.Community.Area.Value</span>
                                                <span class="unit">
                                                    @Model.Community.Area.Unit
                                                </span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                @*  }*@
            </div>
            <hr class="my-4 my-md-5">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Description</h3>
                    </div>
                    <div class="col-lg-8 pt-2">
                        <p>
                            @if (Model.Community.DisplayProperties.Logo)
                            {
                                @RenderHelper.Thumbnail(Model.Logo, "pull-right", "hpad-s", "logo")
                            }
                            @if (Model.Community.DisplayProperties.Description)
                            {
                                @Model.Community.Description
                            }
                        </p>
                        @*<p class="mb-0">Floor-to-ceiling windows accentuate the panoramic vistas that sweep across the Golden Gate Bridge, the downtown skyline, the artfully lit Bay Bridge and beyond. The floor plan features two bedroom suites, kitchen, living/dining room, two view terraces and ample storage space.</p>*@
                    </div>
                </div>
            </div>
            <hr class="my-4 my-md-5">
            <style>
                ul.property-list li {
                    margin-left: 20px;
                }
            </style>
            @if (Model.Community.CommunityServices.Any())
            {
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Services</h3>
                    </div>
                    <div class="col-lg-8 pt-2">
                        <div class="row">
                            @foreach (var service in Model.Community.CommunityServices)
                            {
                            <div class="col-md-12">
                                <ul class="property-list mb-0 pl-lg-0 pl-3">
                                     <li>@service</li>
                                </ul>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
             }
            <hr class="my-4 my-md-5">

            @if (Model.Community.Amenities.Any())
            {
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Features</h3>
                    </div>
                    <div class="col-lg-8 pt-2">
                        <div class="row">
                           @foreach (var amenity in Model.Community.Amenities)
                            {   
                            <div class="col-md-6">
                                <ul class="property-list mb-0 pl-lg-0 pl-3">
                                    <li>@amenity</li>
                                </ul>
                            </div>
                            }
                        </div>
                        @*<div class="col-md-12">
                            <div class="row">
                                @if (Model.Community.DisplayProperties.ApplicationFee)
                                {
                                    <div class="col-md-4">
                                        <b>Fees:</b>
                                        <b>@Model.ApplicationFee</b>
                                    </div>
                                }
                                @if (Model.Community.DisplayProperties.Deposit)
                                {
                                    <div class="col-md-4">
                                        <b>Deposit:</b>
                                        <b>@Model.Deposit</b>
                                    </div>
                                }
                                @if (Model.Community.DisplayProperties.PetDeposit)
                                {
                                    <div class="co-md-4">
                                        <b>Pet Deposit:</b>
                                        <b>@Model.PetDeposit</b>
                                    </div>
                                }
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
