<ul class="nav">    
    <li>@Html.ActionLink("View users", "List", "Account")</li>
    <li>@Html.ActionLink("Add User", "Create", "Account")</li>
    <li>@Html.ActionLink("Add NPMG User", "CreateAdmin", "Account")</li>
<li>@Html.ActionLink("Show Communities", "Grid", "Community")</li>
<li>@Html.ActionLink("ADD Communities", "New", "Community")</li>

<li>@Html.ActionLink("Show Service Providers", "Grid", "ServiceProvider")</li>
<li>@Html.ActionLink("Add Service Providers", "New", "ServiceProvider")</li>
</ul>