@using UserManagementSystem.Localization
@model UserManagementSystem.Web.Models.UserPaginationViewModel

<div data-bind="visible: totalCount() > 0" class="pagination">
    <div data-bind="visible: pageIndexList().length > 1" class="pageIndexLine">
        <ul>
            <li class="navigation" data-bind="css: { disable: pageIndex() == 1 }" title="@StaticContent.Tlt_FirstPage">
                <a data-bind="click: goToFirstPage">«</a> 
            </li>
            <li class="navigation" data-bind="css: { disable: pageIndex() == 1 }" title="@StaticContent.Tlt_PreviousPage">
                <a data-bind="click: goToPreviousPage">‹</a> 
            </li>
            <!-- ko foreach: availableIndexes() -->
            <li data-bind="css: { currentIndex: $root.pageIndex() == $data }">
                <a data-bind="text: $data, click: $root.goToPage, attr: { title: '@StaticContent.Tlt_GoTo' + ' ' + $data + ' ' + '@StaticContent.Tlt_Page' }"></a> 
            </li>
            <!-- /ko -->
            <li class="navigation" data-bind="css: { disable: pageIndex() == pageIndexList().length }" title="@StaticContent.Tlt_NextPage">
                <a data-bind="click: goToNextPage">›</a>
            </li>
            <li class="navigation" data-bind="css: { disable: pageIndex() == pageIndexList().length }" title="@StaticContent.Tlt_LastPage">
                <a data-bind="click: goToLastPage">»</a>
            </li>
        </ul>
    </div>
    <div data-bind="visible: totalCount() > 0" class="pagingConfig">
        <ul>
            <li>
                @StaticContent.Txt_PageNumber
                <select data-bind="options: pageIndexList, optionsText: $data, value: $root.pageIndex, event: { change: $root.selectIndexPage }" class="pagingConfigList"></select>
            </li>
            <li>
                @StaticContent.Txt_PageSize
                <select data-bind="options: pageSizeList, optionsText: $data, value: $root.pageSize, event: { change: $root.selectPageSize }" class="pagingConfigList"></select>
            </li>
            <li data-bind="text: paginationInfo()" class="pagination-info">
            </li>
        </ul>
    </div>
</div>