@using MSLivingChoices.Localization
@using MSLivingChoices.Mvc.Uipc.Client.Helpers


<style>
    span.validation-error-message {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.validation-error, textarea.validation-error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button"
                    class="btn btn-icon-brand-red cropped icon-close close"
                    data-dismiss="modal"
                    aria-hidden="true">
                <i class="fas fa-times"></i>
            </button>
            <div class="modal-title">
                <h4 class="txt-brand-red txt-bold txt-upper">
                    @StaticContent.Info_Explore
                    <span data-bind="text: listingName"></span>
                </h4>
            </div>
        </div>
        <div class="modal-body clearfix">
            <div class="nanobar">
                <div class="bar"></div>
            </div>
            <form class="form-horizontal lead-form single"
                  data-bind="submit: submit">
                <!-- ko with: lead -->
                <!-- ko if: $parent.displayProperties().moveInDate -->
                <label class="row input-stack">
                    <span class="col-4 label txt-upper">
                        @Labels.MoveInDate
                    </span>
                    <span class="col-8 input-group">
                        <span class="prepend icon-calendar"></span>
                        <input type="text"
                               class="form-control dpicker"
                               placeholder="@Html.DatePlaceholder()"
                               data-bind="datepicker: moveInDate" />
                    </span>
                    <span class="col-offset-4 col-8 validation-error-message"
                          data-bind="validationMessage: moveInDate">
                    </span>
                </label>
                <!-- /ko -->
                <!-- ko with: customer -->
                <label class="row input-stack">
                    <span class="col-4 label txt-upper required">
                        @Labels.Name
                    </span>
                    <span class="col-8 input-group">
                        <span class="prepend icon-name"></span>
                        <input type="text"
                               class="form-control"
                               placeholder="@Placeholders.Name"
                               data-bind="value: name" />
                    </span>
                    <span class="col-4"></span>
                    <span class="col-8 validation-error-message"
                          data-bind="validationMessage: name">
                    </span>
                </label>
                <label class="row input-stack">
                    <span class="col-4 label txt-upper required">
                        @Labels.Email
                    </span>
                    <span class="col-8 input-group">
                        <span class="prepend icon-email-at"></span>
                        <input type="text"
                               class="form-control"
                               placeholder="@Placeholders.Email"
                               data-bind="value: email" />
                    </span>
                    <span class="col-4"></span>
                    <span class="col-8 validation-error-message"
                          data-bind="validationMessage: email">
                    </span>
                </label>
                <label class="row input-stack">
                    <span class="col-4 label txt-upper">
                        @Labels.Phone
                    </span>
                    <span class="col-8 input-group">
                        <span class="prepend icon-phone"></span>
                        <input type="text"
                               class="form-control"
                               placeholder="@Placeholders.Phone"
                               data-bind="value: phone" />
                    </span>
                    <span class="col-4"></span>
                    <span class="col-8 validation-error-message"
                          data-bind="validationMessage: phone">
                    </span>
                </label>
                <!-- /ko -->
                <label class="row input-stack">
                    <span class="col-4 label txt-upper">
                        @Labels.LookingFor
                    </span>
                    <span class="col-8 input-group">
                        @{ Html.RenderPartial("~/Views/Client/Controls/Select.cshtml", "$parent.lookingForChoices"); }
                    </span>
                </label>
                <label class="row input-stack">
                    <span class="col-4 label txt-upper">
                        @Labels.Message
                    </span>
                    <span class="col-8 input-group">
                        <textarea class="form-control medium"
                                  data-bind="value: message">
                        </textarea>
                    </span>
                    <span class="col-4"></span>
                    <span class="col-offset-4 col-8 validation-error-message"
                          data-bind="validationMessage: message">
                    </span>
                </label>
                <!-- /ko -->
                <div class="row input-stack vpad">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <button type="submit"
                                class="btn btn-block btn-primary btn-md"
                                disabled="disabled"
                                data-bind="css: { 'in-progress': isPendingRequest }, disable: false">
                            <span>
                                @StaticContent.Btn_Submit
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*@section scripts{
    $('.dpicker')[0].datepicker();
}*@