@using UserManagementSystem.Localization;
@using UserManagementSystem.Web.Helpers;
@model UserManagementSystem.Web.Models.LogInViewModel
           
@{
    ViewBag.Title = "LogOn";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

        <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />

    @Url.Css("font-awesome/all.min.css")
    @Url.Css("flaticon/flaticon.css")
    @Url.Css("bootstrap/bootstrap.min.css")

    @Url.Css("select2/select2.css")
    @Url.Css("style.css")
</head>

<body>
    <section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login bg-light p-4 p-sm-5">
        <h3 class="text-primary">@StaticContent.Ttl_LogOn</h3>
          <p class="text-dark">@StaticContent.WtrMrk_LogOn @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")</p>
    <div class="mt-4">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, @ErrorMessages.UnsuccessfulLogin, new { @class = "alert alert-block alert-error" })
                            <legend>@StaticContent.Lgd_LogOn</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="form-group">
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </label>
            </div>
            <div class="d-sm-flex align-items-center">        
                <input type="submit" value="@StaticContent.Lbl_LogOn" class="btn btn-primary" />
            </div>
        }
        </div>
        <footer>
            <p>&copy; NPMG @DateTime.Now.Year</p>
        </footer>
    </div>

    @Url.Script("jquery-3.5.1.min.js")
    @Url.Script("bootstrap/bootstrap.min.js")
    @Url.Script("select2/select2.full.js")
    @Url.Script("jquery-ui.js")
    @Url.Script("custom.js")
</body>
</html>



