@using MSLivingChoices.Entities.Client.Search.Criteria
@using MSLivingChoices.Mvc.Uipc.Client.Enums
@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@using MSLivingChoices.Mvc.Uipc.Client.ViewModels
@using MSLivingChoices.Mvc.Uipc.Enums
@using MSLivingChoices.Utilities

@model CommunitiesSearchVm

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Client/Shared/_SearchResultLayout.cshtml";
}
<style>
    .refine {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .refine > li {
        font-weight: 700;
        display:inline-block;
        padding:5px;
    }
    .control.list-inline li {
        display: inline-block;
        color: dodgerblue;
        text-transform: capitalize;
        cursor:pointer;
    }
    .control.list-inline li:hover {
        text-decoration:underline;
    }
    .pull-right{float:right;}
    .header {
        box-shadow: 0px 0px 0px 0px rgb(27 27 41 / 15%);
    }

</style>
@section scripts
{
    <script type="text/html" id="qv-widget">
        <section class="quick" data-bind="slideVisible: isShow">
            <div class="container" data-bind="template: { name: tab().template, data: tab().model, afterRender: tab().afterRender }">
            </div>
            <div class="control txt-center">
                <button class="btn btn-close"
                        data-bind="click: hide">
                    Close
                    <i class="icon-arrow-top"></i>
                </button>
            </div>
        </section>
    </script>

    @{ Html.RenderPartial("~/Views/Client/Search/Partial/QuickView.cshtml"); }
@*    @{ Html.RenderPartial("~/Views/Client/Search/Partial/MapView.cshtml"); }*@
    @{ Html.RenderPartial("~/Views/Client/Search/Partial/SpecHome.cshtml"); }
    @{ Html.RenderPartial("~/Views/Client/Search/Partial/Home.cshtml"); }
    @{ Html.RenderPartial("~/Views/Client/Search/Partial/FloorPlan.cshtml"); }
    @{ Html.RenderPartial("~/Views/Client/Search/Partial/PhotoTour.cshtml"); }
    @{ Html.RenderPartial("~/Views/Client/Search/Partial/NearbyPopover.cshtml"); }
    @{ Html.RenderPartial("~/Views/Client/Controls/LeadForm/CommunityUnitPopUp.cshtml"); }

    <script type="text/javascript">
        mslc.resolve([
                'lib/ko', 'client/widgets/refine', 'client/widgets/refine/aahAac', 'client/widgets/refine/shc'
            ],
            function(ko, Refine, AahAac, Shc) {
                @switch (Model.PageType.ToRefineType())
                {
                    case RefineType.SeniorHousing:
                        {
                        <text>
                var refine = new Refine(@Html.Json(Model), Shc);
                ko.applyBindings(refine, document.getElementById("refine"));
                ko.applyBindings(refine, document.getElementById("sort"));
                </text>
                            break;
                        }
                    case RefineType.ActiveCommunity:
                    case RefineType.ActiveHome:
                        {
                        <text>
                var refine = new Refine(@Html.Json(Model), AahAac);
                ko.applyBindings(refine, document.getElementById("refine"));
                ko.applyBindings(refine, document.getElementById("sort"));
                </text>
                            break;
                        }
                }
            },
            'init-refine');

        mslc.resolve(['client/widgets/qvInitializer'],
            function(initQv) {
                initQv(@((int)Model.PageType.ToSearchType()), 'communityId');
            },
            'init-qv');

        mslc.resolve(['client/widgets/leadForm'],
            function(leadForm) {
                leadForm.initPopUpSharedData(@Html.Json(Model.LeadForm));
            },
            'init-lead-form');

        mslc.resolve(['client/widgets/googlePublisherTag'],
            function(gpt) {
                gpt.initSearchResultsSlots({
                    country: '@Model.Criteria.CountryCode()',
                    state: '@Model.Criteria.StateCode()',
                    city: '@Model.Criteria.City()'
                });
            },
            'init-gpt');

        mslc.resolve(['client/analytics/google'],
            function(ga) {
                ga.trackPageView(@Html.Json(Model.Dimensions));
            },
            'ga-tracking');

        mslc.resolve(['client/widgets/communityUnit'],
            function() {
            },
            'init-community-unit');

        mslc.resolve(['client/ui/hintsManager'],
            function(hints) {
            },
            'init-hints');
    </script>
    <style>
        .ssh {
            transition: all ease-in-out .5s;
            overflow: hidden;
        }
    </style>
    @if (Model.PageType == PageType.ShcByCity
      && Model.Criteria.StateCode().Equals("TX", StringComparison.InvariantCultureIgnoreCase)
      && Model.Criteria.City().Equals("San Antonio", StringComparison.InvariantCultureIgnoreCase))
    {
        //special case per request
        <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/9356da7e888bd5e92a7c9c92d/a007c0b68c9102af711ccee36.js");</script>
    }
}
@{
    string communityItemType = Model.PageType.ToSearchType() == SearchType.ActiveAdultHomes
        ? "http://schema.org/GatedResidenceCommunity"
        : "http://schema.org/Residence";
}
@if (((IEnumerable<dynamic>)Model.Result).Where(x => x.DisplayProperties.Featured == true).Count() != 0 && Model.Result != null)
{
    #region Comment to Look at
    @*<section class="space-ptb">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-title text-center">
                            <h2>Featured Products and Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-carousel owl-dots-bottom-center" data-nav-dots="true" data-items="3" data-md-items="2" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="30">

                            @foreach (var community in Model.Result)
                            {
                                if (community.DisplayProperties.Featured)
                                {
                                    <div class="item">
                                        <div class="property-detail-01 border-0">
                                            <h5 class="property-title-01"><a href="@community.DetailsUrl">@(community.DisplayProperties.Name ? community.Name : "View details")</a></h5>
                                            @if (community.DisplayProperties.Amenities)
                                            {
                                                <div class="ind">
                                                    <h4 class="txt-brand-red" onclick="GoLikeIt(this)">Features & Amenities</h4>
                                                    <ul class="list-col-any-2 amenities one-line ssh" style="height:0px">
                                                        @foreach (var amenity in community.Amenities)
                                                        {
                                                            <li>@amenity</li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                            <p>
                                                <address class="ind-s" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                    <span class="address-line">
                                                        <span itemprop="streetAddress">@community.Address.Line</span>
                                                        @if (community.DisplayProperties.RadiusDesignation)
                                                        {
                                                            <span class="txt-lower txt-decr txt-brand-blue txt-bold radius-designation"
                                                                  data-hint="#radius-designation-hint">@community.SearchRadiusDesignation</span>
                                                        }
                                                    </span>
                                                    <span class="city" itemprop="addressLocality">@community.Address.City</span>
                                                    <span class="state" itemprop="addressRegion">@community.Address.StateCode</span>
                                                    <span itemprop="postalCode">@community.Address.Zip</span>
                                                </address>
                                            </p>
                                            <div class="col-any-8">
                                                @if (community.DisplayProperties.Price)
                                                {
                                                    <div class="txt-black txt-right price">@community.Price</div>
                                                }
                                                @if (community.DisplayProperties.LeadForm)
                                                {
                                                    <button class="btn btn-block btn-brand-red cropped"
                                                            data-toggle="lead-form"
                                                            data-accessor="attr"
                                                            data-listing-id="@community.Id"
                                                            data-listing-name="@community.Name"
                                                            data-message="@community.GetLeadFormMessage()">
                                                        Get more info
                                                    </button>
                                                }


                                            </div>

                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    #endregion

    <section class="space-pt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center">
                        <h2>Featured Properties</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-dots-bottom-center" data-nav-dots="true" data-items="3" data-md-items="2" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="30">
                        @foreach (var community in Model.Result)
                        {
                            if (community.DisplayProperties.Featured)
                            {
                                <div class="item">
                                    <div class="property-list bg-light">
                                        <div class="property-image h-100 bg-overlay-gradient-04">
                                            @if (community.DisplayProperties.Image)
                                            {
                                                @RenderHelper.ThumbnailWithMicrodata(community.Image, "img-fluid");
                                            }

                                            @if (community.DisplayProperties.Price)
                                            {
                                                <div class="property-prize">
                                                    <span class="badge badge-md">@community.Price</span>
                                                </div>
                                            }
                                            @if (community.Beds.IsValued)
                                            {
                                                <div class="property-room">
                                                    <span class="badge badge-md"><i class="fas fa-bed fa-1x text-white mr-1"></i> @community.Beds.Value</span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    <div class="property-detail bg-light p-4">
                                        <h5 class="property-title"><a href="@community.DetailsUrl">@(community.DisplayProperties.Name ? community.Name : "View details")</a></h5>
                                        <ul class="pl-0">
                                            <li class="property-address"><i class="fas fa-map-marker-alt fa-1x mr-1 text-secondary"></i>@community.Address.City, @community.Address.StateCode</li>
                                            <li class="property-address"><i class="fas fa-building fa-1x text-secondary mr-1"></i>55+ Community  •  Apartments</li>
                                            @if (community.DisplayProperties.Phone)
                                            {

                                                <li class="property-address"><i class="fas fa-phone-alt text-secondary mr-1"></i> @community.Phone</li>
                                            }

                                        </ul>

                                        <button class="btn btn-primary btn-md"
                                                data-toggle="lead-form"
                                                data-accessor="attr"
                                                data-listing-id="@community.Id"
                                                data-listing-name="@community.Name"
                                                data-message="@community.GetLeadFormMessage()">
                                            Check Availability
                                        </button>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@{ Html.RenderPartial("~/Views/Client/Partial/SearchBarForm.cshtml"); }
@{ Html.RenderPartial("~/Views/Client/Partial/Breadcrumbs.cshtml", new ViewDataDictionary(Model.Breadcrumbs)); }
<div class="row">
    <div class="col-md-12">

        @*<div class="clearfix">
                <h1 class="header-brand-blue inline-block">@Model.Seo.Header</h1>
            </div>

            @if (!Model.Seo.MarketCopy.IsNullOrEmpty())
            {
                <p class="ind">@Model.Seo.MarketCopy</p>
            }*@

        @if (!Model.Result.Any())
        {
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-3">
                        <img alt="No results" style="width: 100%;" src="~/Content/images/stub/no-result.png" />
                    </div>
                    <span class="col-lg-6 col-md-6 mb-3 text-justify d-flex align-items-center">
                        We could not find any listings in this area or your search filters may be too strict. Please try to clear all filters or
                        search for nearby locations with listings. Our information is updated daily so please check back soon.
                    </span>
                </div>
            </div>
        }

        @if (Model.Result.Any())
        {

            <section class="space-ptb bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="sidebar">
                                <div class="widget">
                                    @*<div class="widget-title">
                                            <h3 class="text-white mb-0">Senior Living Choices</h3>
                                        </div>
                                        <div class="widget-content">
                                            <p>Learn more about senior housing options, how they differ, and choose the right fit for you.</p>
                                            <a class="btn btn-primary mt-4" href="#">Learn More</a>

                                        </div>*@
                                    @if (Model.DisplayProperties.BookOrder)
                                    {
                                        Html.RenderPartial("~/Views/Client/Search/Partial/Order.cshtml");
                                    }
                                </div>
                               
                                <!--SENCOND REFINE SEARCH GOES BELOW-->
                                <!--  <div class="widget mb-0">
                                    <div class="widget-title">
                                        <h3 class="text-white mb-0">Property Amenities</h3>
                                    </div>
                                    <div class="widget-content">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted11">
                                            <label class="custom-control-label" for="dateposted11">All Utilities Paid</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted12">
                                            <label class="custom-control-label" for="dateposted12">Business Center</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted13">
                                            <label class="custom-control-label" for="dateposted13">Controlled Access Entry</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted14">
                                            <label class="custom-control-label" for="dateposted14">Elevator(s)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted15">
                                            <label class="custom-control-label" for="dateposted15">Fitness Center</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted16">
                                            <label class="custom-control-label" for="dateposted16">Garage</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted17">
                                            <label class="custom-control-label" for="dateposted17">Gated Community</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted18">
                                            <label class="custom-control-label" for="dateposted18">Handicap Accessible</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted19">
                                            <label class="custom-control-label" for="dateposted19">High Speed Internet</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted20">
                                            <label class="custom-control-label" for="dateposted20">Housekeeping</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted21">
                                            <label class="custom-control-label" for="dateposted21">Linen Service</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted22">
                                            <label class="custom-control-label" for="dateposted22">Maintenance Free</label>
                                        </div><div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted23">
                                            <label class="custom-control-label" for="dateposted23">Movie Theater</label>
                                        </div><div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted24">
                                            <label class="custom-control-label" for="dateposted24">Onsite Dog Park</label>
                                        </div><div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted25">
                                            <label class="custom-control-label" for="dateposted25">Pet Friendly</label>
                                        </div><div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted26">
                                            <label class="custom-control-label" for="dateposted26">Restaurant Style Dining</label>
                                        </div><div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted27">
                                            <label class="custom-control-label" for="dateposted27">Social Activities</label>
                                        </div><div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted28">
                                            <label class="custom-control-label" for="dateposted28">Swimming Pool</label>
                                        </div><div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dateposted29">
                                            <label class="custom-control-label" for="dateposted29">Transportation Services</label>
                                        </div>
                                        <a class="btn btn-primary mt-4" href="#">Update Search</a>
                                    </div>
                                </div>
                                  -->
                                <!--SENCOND REFINE SEARCH ENDS BELOW-->
                            </div>
                        </div>
                        <div class="col-lg-9 mt-lg-0 mt-5">
                            <div class="row mb-5">
                                <div class="col-lg-12">
                                    <div class="property-filter d-md-flex d-block">
                                        <div class="d-md-flex d-block mb-0">
                                            <h2>Property Listing</h2>
                                        </div>
                                        <div class="property-view-list d-md-flex d-block mb-0 mt-4 mt-sm-0">
                                            <a class="btn btn-outline mt-md-0 mt-2" href="javascript:;" onclick="listShow()"><i class="fa fa-list mr-1"></i> List View</a>
                                            <a class="btn btn-outline mt-md-0 mt-2 ml-sm-2 ml-0" href="javascript:;" onclick="mapShow()"><i class="fas fa-map-marker-alt mr-1"></i> Map View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="widget-title" style="display:inline-block;">
                                        @*<h3 class="text-white mb-0">Refine Your Search</h3>*@
                                    </div>
                                    <div class="widget-content" style="display:inline-block;">
                                        @*<h6>Choose Listing Types</h6>*@
                                        <style>
                                            .refine li {
                                                font-weight: 700;
                                            }

                                            .list-col-any-2 {
                                                -webkit-column-count: 2;
                                                -moz-column-count: 2;
                                                column-count: 2;
                                                -webkit-column-gap: 5px;
                                                -moz-column-gap: 5px;
                                                column-gap: 5px;
                                                background: white;
                                                position: absolute;
                                                z-index: 99;
                                            }

                                            .items.single {
                                                position: absolute;
                                                z-index: 999;
                                                background: white;
                                                padding: 30px;
                                                list-style: none;
                                                display: none;
                                            }

                                                .items.single li {
                                                    cursor: pointer;
                                                }

                                                    .items.single li:hover {
                                                        background: dodgerblue;
                                                    }
                                        </style>

                                        @switch (Model.PageType.ToRefineType())
                                        {
                                            case RefineType.SeniorHousing:
                                                {
                                                    Html.RenderPartial("~/Views/Client/Search/Partial/Refine/Shc.cshtml");
                                                    break;
                                                }
                                            case RefineType.ActiveCommunity:
                                            case RefineType.ActiveHome:
                                                {
                                                    Html.RenderPartial("~/Views/Client/Search/Partial/Refine/AacAah.cshtml");
                                                    break;
                                                }
                                            case RefineType.Service:
                                                {
                                                    Html.RenderPartial("~/Views/Client/Search/Partial/Refine/Pas.cshtml");
                                                    break;
                                                }
                                        }
                                        @*<div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted1">
                        <label class="custom-control-label" for="dateposted1">Active Adult Communities 55+</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted2">
                        <label class="custom-control-label" for="dateposted2">Senior Apartments</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted3">
                        <label class="custom-control-label" for="dateposted3">Homes for sale or rent</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted4">
                        <label class="custom-control-label" for="dateposted4">Manufactured Home Communities</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted5">
                        <label class="custom-control-label" for="dateposted5">Independent Living</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted6">
                        <label class="custom-control-label" for="dateposted6">Assisted Living</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted7">
                        <label class="custom-control-label" for="dateposted7">Alzimer’s/Memory Care</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted8">
                        <label class="custom-control-label" for="dateposted8">Life Care Communities</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted9">
                        <label class="custom-control-label" for="dateposted9">Skilled Nursing Homes</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="dateposted10">
                        <label class="custom-control-label" for="dateposted10">Physical Rehabilitation Center</label>
                    </div>
                    <a class="btn btn-primary mt-4" href="#">Update Search</a>*@
                                    </div>

                                </div>
                            </div>
                            <div class="map-container">
                                <div id="map" style="width:100%; height: 30em;"></div>
                            </div>
                            <div id="list_view">
                                @foreach (var community in Model.Result)
                                {
                                    if (community.DisplayProperties.Featured)
                                    {
                                        continue;
                                    }

                                    <section data-qv="@community.Id">
                                        <ul class="control list-inline">

                                            @if (community.DisplayProperties.QuickView)
                                            {
                                                <li class="icon-quickview"
                                                    data-bind="click: tabs('quick'), css: {
                                                        'active': tab().template === 'quick' && !!isShow().flag
                                                        , 'disabled': isLoading() || isInAnimation() }"
                                                    data-qv-action="quick">
                                                    quick view
                                                </li>
                                            }
                                            @*@if (community.DisplayProperties.Map)
                        {
                            <li class="icon-mapview"
                                data-qv-action="map"
                                data-bind="click: tabs('map'),
                                            css: {
                                                'active': tab().template === 'map-view' && !!isShow().flag
                                                , 'disabled': isLoading() || isInAnimation() }">
                                map view
                            </li>
                        }*@
                                            @if (community.DisplayProperties.FloorPlans)
                                            {
                                                <li class="icon-square"
                                                    data-qv-action="floor"
                                                    data-bind="click: tabs('floor')
                                                            , css: {
                                                               'active': tab().template === 'floor' && !!isShow().flag
                                                               , 'disabled': isLoading() || isInAnimation() }">
                                                    floor plans
                                                </li>
                                            }
                                            @if (community.DisplayProperties.Homes)
                                            {
                                                <li class="icon-home"
                                                    data-qv-action="home"
                                                    data-bind="click: tabs('home')
                                                            , css: {
                                                                'active': tab().template === 'home' && !!isShow().flag, 'disabled': isLoading() || isInAnimation() }">
                                                    homes
                                                </li>
                                            }
                                            @if (community.DisplayProperties.SpecHomes)
                                            {
                                                <li class="icon-spec-home"
                                                    data-qv-action="spechome"
                                                    data-bind="click: tabs('spechome')
                                                                , css: {
                                                                    'active': tab().template === 'spec-home' && !!isShow().flag
                                                                    , 'disabled': isLoading() || isInAnimation() }">
                                                    spec homes
                                                </li>
                                            }
                                            <li class="pull-right">
                                                <a href="@community.DetailsUrl" itemprop="url">
                                                    view details >>
                                                </a>
                                            </li>
                                            <li class="nanobar" data-bind="linknode: $data">
                                                <div class="bar"></div>
                                            </li>
                                        </ul>
                                    </section>

                                    <div class="row">
                                        <div class="col-lg-12 mb-4">
                                            <div class="property-list bg-white">
                                                <div class="row no-gutters">
                                                    <div class="col-md-5">
                                                        <div class="property-image h-100 bg-overlay-gradient-04">
                                                            @if (community.DisplayProperties.Image)
                                                            {
                                                                <a href="@community.DetailsUrl">
                                                                    @RenderHelper.ThumbnailWithMicrodata(community.Image, "img-fluid")
                                                                </a>
                                                            }
                                                            <!-- <div class="property-lable">
                                            <span class="badge badge-md">PET FRIENDLY</span>
                                        </div> -->
                                                            <div class="property-prize">
                                                                @if (community.DisplayProperties.Price)
                                                                {
                                                                    <span class="badge badge-md">@community.Price</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge badge-md">$&nbsp;&nbsp;?</span>
                                                                }
                                                            </div>
                                                            <div class="property-room">
                                                                @if (community.DisplayProperties.Beds)
                                                                {
                                                                    <span class="badge badge-md"><i class="fas fa-bed fa-1x text-white mr-1"></i>@community.Beds</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge badge-md"><i class="fas fa-bed fa-1x text-white mr-1"></i>?</span>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="property-detail p-4">
                                                            <h3 class="property-title"><a href="@community.DetailsUrl">@(community.DisplayProperties.Name ? community.Name : "View details")</a></h3>
                                                            <ul class="pl-0">
                                                                <li class="property-address mb-1">
                                                                    <i class="fas fa-map-marker-alt fa-1x mr-1 text-primary"></i> EXACT -@community.Address.City, @community.Address.StateCode @community.Address.Zip
                                                                </li>

                                                                @*@if (community.DisplayProperties.Phone)
                                            {*@
                                                                <li class="property-address mb-1">
                                                                    <i class="fas fa-phone-alt fa-1x text-primary mr-1"></i>
                                                                    @community.Phone
                                                                </li>
                                                                @*}*@
                                                            </ul>
                                                            <p></p>
                                                            <p>
                                                                <address class="ind-s" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                                    <span class="address-line">
                                                                        <span itemprop="streetAddress">@community.Address.Line</span>
                                                                        @if (community.DisplayProperties.RadiusDesignation)
                                                                        {
                                                                            <span class="txt-lower txt-decr txt-brand-blue txt-bold radius-designation"
                                                                                  data-hint="#radius-designation-hint">@community.SearchRadiusDesignation</span>
                                                                            }
                                                                    </span>
                                                                    <br />
                                                                    <span class="city" itemprop="addressLocality">@community.Address.City</span>
                                                                    <span class="state" itemprop="addressRegion">@community.Address.StateCode</span>
                                                                    <span itemprop="postalCode">@community.Address.Zip</span>
                                                                </address>
                                                            </p>
                                                            <div class="mb-3">
                                                                <a href="@community.DetailsUrl">Read More <i class="fas fa-angle-right"></i></a>
                                                            </div>
                                                            <a class="btn btn-outline btn-sm mb-1 mr-2 ml-0 mt-1" href="@community.DetailsUrl">View Profile</a>
                                                            @if (community.DisplayProperties.LeadForm)
                                                            {
                                                                <button class="btn btn-primary btn-sm ml-0"
                                                                        data-toggle="lead-form"
                                                                        data-accessor="attr"
                                                                        data-listing-id="@community.Id"
                                                                        data-listing-name="@community.Name"
                                                                        data-message="@community.GetLeadFormMessage()">
                                                                    Request Information
                                                                </button>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @if (Model.Paging.Pages.Any())
                            {
                                <style>
                                    .pagination > li.first > a:before {
                                        content: '>';
                                    }

                                    .pagination > li.prev > a:before {
                                        content: '>>';
                                    }
                                </style>
                                <ul class="pagination mt-4 mb-0">
                                    @foreach (var page in Model.Paging.Pages)
                                    {
                                        @*<li class="page-item @page.Css"><a class="page-link" href="@page.Href">@page.InnerText</a></li>*@
                                        <li class="page-item @page.Css"><a class="page-link" href="@page.Href">@page.InnerText</a></li>
                                        @*<li class="@page.Css">
                    </li>*@
                                    }
                                </ul>
                            }
                            @*<ul class="pagination mt-4 mb-0">
            <li class="page-item page-prev">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item page-next">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>*@
                        </div>
                    </div>
                </div>
            </section>


        }

        @*@if (Model.DisplayProperties.NearbyCategories || Model.DisplayProperties.NearbyCities)
        {
            <div class="row">
                <div class="col-6 text-center">
                    @if (Model.SearchBar.Crosslinks.Cities.Any())
                    {
                        <style>
                            .vpad-s1 {
                                -webkit-column-count: 3;
                                -moz-column-count: 3;
                                column-count: 3;
                                -webkit-column-gap: 5px;
                                -moz-column-gap: 5px;
                                column-gap: 5px;
                            }
                        </style>
                        <h4 class="header-brand-blue">Nearby Cities</h4>
                        <ul class="list-col-any-3 vpad-s1">
                            @foreach (var link in Model.SearchBar.Crosslinks.Cities)
                            {
                                <li>
                                    <a href="@link.Href">@link.InnerText</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
                <div class="col-6 text-center">
                    @if (Model.SearchBar.Crosslinks.Categories.Any())
                    {

                        <h4 class="header-brand-blue">Categories</h4>
                        <ul class="list-unstyled">
                            @foreach (var link in Model.SearchBar.Crosslinks.Categories)
                            {
                                <li>
                                    <a href="@link.Href">@link.InnerText</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        }*@

    </div>
    <!--<div class="col-7">-->
        @*@if (Model.DisplayProperties.BookOrder)
            {
                Html.RenderPartial("~/Views/Client/Search/Partial/Order.cshtml");
            }
            @if (Model.DisplayProperties.FeaturedCommunities)
            {
                <div class="ind-l">
                    @{ Html.RenderPartial("~/Views/Client/Partial/FeaturedCommunities.cshtml", new ViewDataDictionary(Model.FeaturedCommunities)); }
                </div>
            }*@
        <!--@if (Model.DisplayProperties.FeaturedServiceProviders)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        @{ Html.RenderPartial("~/Views/Client/Partial/FeaturedProviders.cshtml", new ViewDataDictionary(Model.FeaturedServices)); }
                    </div>
                </div>
            </div>
        }-->
        @*@if (Model.DisplayProperties.PartnerAds)
            {
                <div class="ind">
                    <div id="div-gpt-ad-1355770323094-0" class="ad-160x600"></div>
                </div>
                <div class="ind">
                    <div id="div-gpt-ad-1355770777438-0" class="ad-300x250"></div>
                </div>
            }*@
    <!--</div>-->
</div>
<script>
    var locations = []; 
    alert(1);
</script>
@foreach (var community in Model.Result)
{
    <script>
        var temp = [];
        temp.push('senior house choice');
        temp.push(community.address.latitude);
        temp.push(community.address.longitude);
        locations.push(temp);
    </script>
}
<script>
    console.log("234234", locations);
    function GoLikeIt(div) {
        var Ndiv = div.nextElementSibling;

        if (Ndiv.style.height != '0px') {
            Ndiv.style.height = '0px';
        }
        else {
            Ndiv.style.height = 'fit-content';
        }
    }

    function listShow() {
        $(".map-container").css("display", "none");
        $("#list_view").css("display", "initial");
    }

    function mapShow() {
        $(".map-container").css("display", "initial");
        $("#list_view").css("display", "none");
        var locations = [
            ['Raj Ghat', 42.648608, -101.250925, 1],
            ['Purana Qila', 38.618174, -91.242686, 2],
            ['Red Fort', 33.663973, -102.241656, 3],
            ['India Gate', 43.620585, -105.228609, 4],
            ['Jantar Mantar', 45.636219, -104.213846, 5],
            ['Akshardham', 37.622658, -101.277704, 6]
        ];
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: new google.maps.LatLng(40.71383898, -101.312005126),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow();
        var marker, i;
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }

    @*let map;

    function initMap() {
        const mapOptions = {
            zoom: 8,
            center: { lat: -34.397, lng: 150.644 },
        };
        map = new google.maps.Map(document.getElementById("map"), mapOptions);
        const marker = new google.maps.Marker({
            // The below line is equivalent to writing:
            // position: new google.maps.LatLng(-34.397, 150.644)
            position: { lat: -34.397, lng: 150.644 },
            map: map,
        });
        // You can use a LatLng literal in place of a google.maps.LatLng object when
        // creating the Marker object. Once the Marker object is instantiated, its
        // position will be available as a google.maps.LatLng object. In this case,
        // we retrieve the marker's position using the
        // google.maps.LatLng.getPosition() method.
        const infowindow = new google.maps.InfoWindow({
            content: "<p>Marker Location:" + marker.getPosition() + "</p>",
        });
        google.maps.event.addListener(marker, "click", () => {
            infowindow.open(map, marker);
        });
    }*@
    @*google.maps.event.addDomListener(window, 'load', initialize);*@
</script>
