@using MSLivingChoices.Localization
@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.IndexVm

@{
    Layout = "~/Views/Client/Shared/_PageLayout.cshtml";
}

@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Client/Shared/_BaseLayout.cshtml";
}*@

@section scripts
{
    <script type="text/javascript">
        mslc.resolve(['client/analytics/google'], function (ga) {
            ga.trackPageView();
        }, 'ga-tracking');
    </script>
}
<style>
    .help-area {
        background-color: white;
    }

    .autocomplete {
        list-style: none;
    }

    .txt-right {
        float: right;
        margin-right: 5px;
    }

    .select2-container {
        width: 100% !important;
    }
</style>
<section class="banner" style="background-image: url('@Url.Content("~/Content/images9/banner-01.jpg")'); background-size: cover;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10" id="search-bar">
                <h1 class="text-white text-center mb-3">Find a community near you!</h1>
                <div class="property-search-field">
                    <form class="row" data-bind="event: { submit: search }" data-search="form">
                        <div class="col-lg-6 mt-3" data-select="multi" data-bind="event:{outerClick:hideHelpArea }">
                            <label for="CityState">City / State</label>
                            <input type="hidden" class="form-control autocomplete-input" data-bind="value: autocompleteLocation" />
                            <input type="text" id="CityState" class="form-control opacity-input relative" placeholder="@StaticContent.Placeholder_LookupLocation" autocomplete="off" data-bind="textInput: lookupLocation, event: {focus: showHelpArea , click: showHelpArea , keydown: onKeyDown, dblclick: onDoubleClick }" />
                            <div class="help-area"
                                 style="display: none"
                                 data-select="target"
                                 data-bind="visible: isHelpAreaVisible">
                                <!-- ko with: messages -->
                                <div class="col-any-24 message"
                                     data-bind="visible: isEmptyMessageVisible()">
                                    You should enter an address
                                </div>
                                <div class="col-any-24 message"
                                     data-bind="visible: isErrorMessageVisible(), text: errorMessage">
                                </div>
                                <div class="col-any-24 message"
                                     data-bind="visible: isErrorMessageVisible() && $parent.autocomplete.length()">
                                    Suggestions:
                                </div>
                                <!-- /ko -->
                                <ul class="autocomplete"
                                    style="position: absolute; background: white; width: 93%; z-index: 9999;"
                                    data-bind="visible: isTemplatesVisible(), foreach: currentTemplates()">
                                    <li>
                                        <span class="col-any-12"
                                              data-bind="text: template"></span>
                                        <span class="col-any-12 txt-right" onclick="">
                                            <a data-bind="href:'#',text: lookupLocation"></a>
                                            @*href: url,*@
                                        </span>
                                    </li>
                                </ul>
                                <!-- ko with: autocomplete -->
                                <ul class="autocomplete"
                                    style="position: absolute; background: white; width: 93%; z-index: 9999;"
                                    data-bind="visible: $root.isAutocompleteVisible(), foreach: list">
                                    <li data-bind="
                                                    click: $root.onAutocompleteClick
                                                    , event: { mouseover: function() { $parent.select($index()) } }
                                                   @*, event: { click: function() { $parent.select($index()) } }*@
                                                   , css: { active: $index() === $parent.index() }">
                                        <span class="col-any-18">
                                            <a data-bind="click: function() {return true;},clickBubble:false">
                                                <span data-bind="text: start"></span><span class="txt-bold" data-bind="text: end"></span>
                                            </a>
                                        </span>
                                        <span class="col-any-6 txt-right"
                                              data-bind="text: template"></span>
                                    </li>
                                </ul>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <label for="exampleInputName2">Housing Type</label>
                            <div data-bind="with: searchTypes">
                                <select class="form-control basic-select" id="exampleFormControlSelect2" data-bind="options:items,optionsText:'text',optionsValue:'value',optionsCaption:'Choose...'">

                                </select>
                                <div style="display:none">
                                    <ul class="col-any-20 type-list row-wrap"
                                        data-bind="foreach: items">
                                        <li class="col-any-6"
                                            data-bind="click: $parent.selectItem
                                                   , css: {
                                                       'active': selected()
                                                       , 'txt-left': $index() === 0
                                                       , 'txt-right': $index() === $parent.items.length - 1
                                                       , 'txt-center': $index() !== 0 && $index() !== $parent.items.length - 1 },
                                                        attr: {'id': 'clickOn_' + value}">
                                            <span class="arrow-wrapper">
                                                <span class="arrow"></span>
                                                <span data-bind="text: text"></span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <span class="align-items-center">
                                <button class="btn btn-primary btn-md d-flex align-items-center mt-4" type="submit" data-bind="css: { 'in-progress': pending }">
                                    <i class="fas fa-search mr-1"></i>
                                    <span>@StaticContent.Btn_Search</span>
                                </button>
                            </span>
                        </div>


                        @*<div class="col-lg-6 mt-3">
                            <span class="align-items-center px-3">
                                <button class="btn btn-primary btn-md d-flex align-items-center mt-4" type="submit" data-bind="css: { 'in-progress': pending }">
                                    <i class="fas fa-search mr-1"></i>
                                    <span>@StaticContent.Btn_Search</span>
                                </button>
                            </span>
                            </div>*@
</form>
                    <div class="mt-3">
                        <span>
                            Unsure what housing is right for you or your loved one?
                        </span>
                        <a href="#" style="font-weight: 600;">
                            Visit the Senior Living Choices and Types Page.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-11">
                <p class="text-center text-white mt-3" style="font-size: 24px; font-weight: 600; line-height: 1.4;">
                    Senior Living Choices is commited to providing you with the best resources
                    to choose the perfect living community. Our steps to browse platform allows
                    you to filter through thousands of 55+ active adult homes, independant living comunities, 
                    senior apparments, or assisted living communities, by location, care type, or specific anemities
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <h5 class="text-white mb-0">For seniors that choose to "Age in Place" search our in-home and lifestyle services instead. Click here to search for services available in your area.</h5>
            </div>
            <div class="col-lg-3 text-lg-right mt-3 mt-lg-0">
                <a class="btn btn-white" href="/senior-care">Search Products & Services</a>
            </div>
        </div>
    </div>
</section>
<section class="space-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2>RETIREMENT LIVING BLOG</h2>
                    <p>
                        Learn about retirement planning, explore where to retire, find senior discounts, and discover
                        how to get the most out of retirement living.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <img class="img-fluid" src="~/Content/images9/blog/01.jpg" alt="">
                    </div>
                    <div class="blog-post-content">
                        <div class="blog-post-details">
                            <div class="blog-post-category">
                                <a class="mb-3" href="#"><strong>SENIOR FINANCES</strong></a>
                            </div>
                            <div class="blog-post-title">
                                <h5><a href="blog-detail.html">The 5 Best Tax Breaks for Seniors</a></h5>
                            </div>
                            <div class="blog-post-description">
                                <p class="mb-0">Growing old doesn’t have to mean dealing with the onset of aches and pains</p>
                            </div>
                        </div>
                        <div class="blog-post-footer">
                            <div class="blog-post-time">
                                <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                            </div>
                            <div class="blog-post-author">
                                <span> By <a href="#"><img class="img-fluid" src="~/Content/images9/avatar/01.jpg" alt="">Henriquez</a></span>
                            </div>
                            <div class="blog-post-comment">
                                <a href="#"> <i class="far fa-comment"></i>(0) </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <img class="img-fluid" src="~/Content/images9/blog/02.jpg" alt="">
                    </div>
                    <div class="blog-post-content">
                        <div class="blog-post-details">
                            <div class="blog-post-category">
                                <a class="mb-3" href="#"><strong>RETIREMENT TIPS</strong></a>
                            </div>
                            <div class="blog-post-title">
                                <h5><a href="blog-detail.html">7 Reasons to Retire in Virginia...</a></h5>
                            </div>
                            <div class="blog-post-description">
                                <p class="mb-0">There are LOTS of reason to retire in Virginia, from an abundance of history</p>
                            </div>
                        </div>
                        <div class="blog-post-footer">
                            <div class="blog-post-time">
                                <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                            </div>
                            <div class="blog-post-author">
                                <span> By <a href="#"> <img class="img-fluid" src="~/Content/images9/avatar/01.jpg" alt="">Henriquez  </a> </span>
                            </div>
                            <div class="blog-post-comment">
                                <a href="#"> <i class="far fa-comment"></i>(0) </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <img class="img-fluid" src="~/Content/images9/blog/03.jpg" alt="">
                    </div>
                    <div class="blog-post-content">
                        <div class="blog-post-details">
                            <div class="blog-post-category">
                                <a class="mb-3" href="#"><strong>SENIOR LIFE</strong></a>
                            </div>
                            <div class="blog-post-title">
                                <h5><a href="/homes">The 5 Best Tax Breaks for Seniors</a></h5>
                            </div>
                            <div class="blog-post-description">
                                <p class="mb-0">Are you having a mid-life crisis? Before you break the bank buying the newest</p>
                            </div>
                        </div>
                        <div class="blog-post-footer">
                            <div class="blog-post-time">
                                <a href="#"> <i class="far fa-clock"></i>25 March 2018</a>
                            </div>
                            <div class="blog-post-author">
                                <span> By <a href="#"> <img class="img-fluid" src="~/Content/images9/avatar/01.jpg" alt="">Henriquez  </a> </span>
                            </div>
                            <div class="blog-post-comment">
                                <a href="#"> <i class="far fa-comment"></i>(0) </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space-ptb bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2>ORDER A FREE SENIOR LIVING CHOICES BOOK</h2>
                    <p>Order one of our location-based books or access them online.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="text-center">
                    <img class="img-fluid" src="~/Content/images9/shop/01.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                <div class="text-center">
                    <img class="img-fluid" src="~/Content/images9/shop/02.jpg" alt="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center">
                    <img class="img-fluid" src="~/Content/images9/shop/03.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <a class="btn btn-primary text-uppercase" href="#">Order</a>
            <a class="btn btn-dark text-uppercase" href="#">Download</a>
        </div>
    </div>
</section>
@*
    <div class="container">
        <h1 class="txt-center vpad header-brand-blue">@Model.Seo.Header</h1>
        <i>
            Senior Living Choices is committed to providing
            you with the best resources to choose the perfect living community.
            We help you filter thousands of active adult communities,
            independent retirement communities, senior living or assisted
            living communities by location, type, or specific amenities.
        </i>
        <p class="ind-s italic">
            Whether you are just getting ready to retire to an active
            lifestyle, a senior searching for assisted living options, or a family
            member helping a loved one, we have the information you need every step of the way.
        </p>
        <div class="arrow-hr">
            <div class="arrow"></div>
            <hr />
        </div>
        <div class="ind-l vpad index">
            @{ Html.RenderPartial("~/Views/Client/Search/Partial/IndexTabDescription.cshtml", Model.Result); }
        </div>
    </div>
    <div class="arrow-hr">
        <div class="arrow"></div>
        <hr />
    </div>
    <div class="index-order-wrapper vpad content">
        <div class="container">
            <div class="grid-row">
                <div class="col-any-offset-4 col-any-6">
                    <a href="http://bookorder.realestatebook.com/default.aspx?refer=SLC"
                       rel="nofollow"
                       target="_blank"
                       data-ga="book-order">
                        <img src="~/Content/images/logo/magazine.png" alt="Treb magazine" />
                    </a>
                </div>
                <div class="col-any-14 txt-incr">
                    <div class="row txt-incr txt-black">
                        Order a Free Senior Living Choices Book
                    </div>
                    <div class="row ind">
                        <a href="http://bookorder.realestatebook.com/Default.aspx?refer=SLC"
                           class="btn btn-brand-red order-link"
                           rel="nofollow"
                           target="_blank"
                           data-ga="book-order">
                            Order
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@