@using MSLivingChoices.Entities.Client.Search.Criteria
@using MSLivingChoices.Mvc.Uipc.Client.Enums
@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@using MSLivingChoices.Mvc.Uipc.Client.ViewModels
@using MSLivingChoices.Mvc.Uipc.Enums
@using MSLivingChoices.Utilities
@model ServiceProvidersSearchVm

@{
    Layout = "~/Views/Client/Shared/_SearchResultLayout.cshtml";
}
<style>
    .refine {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .refine li {
            font-weight: 700;
        }
    .txt-truncate {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

@section scripts
{
    <script type="text/html" id="qv-widget">
        <section class="quick"
                 data-bind="slideVisible: isShow">
            <div class="container"
                 data-bind="template: { name: tab().template, data: tab().model, afterRender: tab().afterRender }">
            </div>
            <div class="control txt-center">
                <button class="btn btn-close"
                        data-bind="click: hide">
                    Close
                    <i class="icon-arrow-top"></i>
                </button>
            </div>
        </section>
    </script>

    @{ Html.RenderPartial("~/Views/Client/Search/Partial/NearbyPopover.cshtml"); }
    @{ Html.RenderPartial("Search/Partial/ProviderQuickView"); }
    @{ Html.RenderPartial("Search/Partial/MapView"); }
    @{ Html.RenderPartial("Search/Partial/PhotoTour"); }

<script type="text/javascript">
        mslc.resolve(['client/widgets/qvInitializer'], function(initQv) {
            initQv(@((int) Model.PageType.ToSearchType()), 'serviceProviderId');
        }, 'init-qv');
        mslc.resolve(['client/widgets/leadForm'], function(leadForm) {
            leadForm.initPopUpSharedData(@Html.Json(Model.LeadForm));
        }, 'init-lead-form');

        mslc.resolve(['client/widgets/googlePublisherTag'], function(gpt) {
            gpt.initSearchResultsSlots({
                country: '@Model.Criteria.CountryCode()',
                state: '@Model.Criteria.StateCode()',
                city: '@Model.Criteria.City()'
            });
        }, 'init-gpt');

        mslc.resolve(['client/analytics/google'], function(ga) {
            ga.trackPageView(@Html.Json(Model.Dimensions));
        }, 'ga-tracking');

        mslc.resolve(['client/ui/hintsManager'], function() {
        }, 'init-hints');

        mslc.resolve([
            'lib/ko'
            , 'client/widgets/refine'
            , 'client/widgets/refine/pas'
        ], function(ko, Refine, Pas) {
            var refine = new Refine(@Html.Json(Model), Pas);
            ko.applyBindings(refine, document.getElementById("refine"));
            ko.applyBindings(refine, document.getElementById("sort"));
        }, 'init-refine');
</script>
}
<div class="row">
    <div class="col-md-12">
        @if (!Model.Result.Any())
        {
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-3">
                        <img alt="No results" style="width: 100%;" src="~/Content/images/stub/no-result.png" />
                    </div>
                    <span class="col-lg-6 col-md-6 mb-3 text-justify d-flex align-items-center">
                        We could not find any listings in this area or your search filters may be too strict. Please try to clear all filters or
                        search for nearby locations with listings. Our information is updated daily so please check back soon.
                    </span>
                </div>
            </div>
        }

        @if (Model.Result.Any())
        {
            <section class="space-ptb bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="sidebar">
                                <div class="widget mb-3">
                                    @if (Model.DisplayProperties.BookOrder)
                                    {
                                        Html.RenderPartial("~/Views/Client/Search/Partial/Order.cshtml");
                                    }
                                </div>
                                <div class="widget mb-3">
                                    <div class="widget-title">
                                        <h3 class="text-white mb-0">Refine Your Search</h3>
                                    </div>
                                    <div class="widget-content">
                                        <h6>Choose Listing Types</h6>
                                        <form id="refine" data-bind="event: { 'submit': apply }" class=" col-any-16 row-wrap">
                                            <div class="refine" data-bind="with: controls">
                                                <div class="col-any-8" data-bind="with: categories" data-select="multi">
                                                    <div class="items multi list-col-any-3 extra"
                                                         data-bind="foreach: items"
                                                         data-select="">
                                                        <div class="mb-2" data-bind="css: { 'active': selected }">
                                                            <div style="position: relative; display: block; padding-left: 1.5rem;">
                                                                <input type="checkbox"
                                                                       style="position: absolute; left: 0; width: 17px; height: 17px;"
                                                                       data-bind="checked: selected" />
                                                                <span style="position: relative; vertical-align: top; top: -3px;" data-bind="text: text"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-any-4 submit" style="display: none" data-bind="visible: $data">
                                                    <button class="btn btn-md btn-primary mt-2" type="submit">
                                                        <span>Update Search</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row mb-5">
                                <div class="col-lg-12">
                                    <div class="property-filter d-sm-flex d-block">
                                        <div class="d-sm-flex d-block mb-0">
                                            <h2>Product and Service Listing</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @foreach (var provider in Model.Result)
                            {
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div class="property-list bg-white">
                                            <div class="row no-gutters">
                                                <div class="col-md-5">
                                                    <div class="property-image h-100 bg-overlay-gradient-04">
                                                        @if (provider.DisplayProperties.Image)
                                                        {
                                                            <div class="img-bg">
                                                                @RenderHelper.ThumbnailWithMicrodata(provider.Image, "img-fluid")
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="property-detail p-4">
                                                        <h3 class="property-title mb-1"><a href="@provider.DetailsUrl">@(provider.DisplayProperties.Name ? provider.Name : "View details")</a></h3>
                                                        <ul class="pl-0">
                                                            <li class="property-address mb-1">
                                                                @if (provider.DisplayProperties.Address)
                                                                {
                                                                    <i class="fas fa-map-marker-alt fa-1x mr-1 text-primary"></i> <span>EXACT -</span><span>provider.Address.City, @provider.Address.StateCode @provider.Address.Zip</span>
                                                                }
                                                            </li>
                                                            <li class="property-address mb-1">
                                                                @if (provider.DisplayProperties.Phone)
                                                                {
                                                                    <i class="fas fa-phone-alt fa-1x text-primary mr-1"></i>
                                                                    @provider.Phone
                                                                }
                                                            </li>
                                                        </ul>
                                                        <p class="txt-truncate mb-1">
                                                            @*<address class="ind-s" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                                <span class="address-line">
                                                                    <span itemprop="streetAddress">@provider.Address.Line</span>
                                                                    @if (provider.DisplayProperties.RadiusDesignation)
                                                                    {
                                                                        <span class="txt-lower txt-decr txt-brand-blue txt-bold radius-designation"
                                                                              data-hint="#radius-designation-hint">@provider.SearchRadiusDesignation</span>
                                                                        }
                                                                </span>
                                                                <br />
                                                                <span class="city" itemprop="addressLocality">@provider.Address.City</span>
                                                                <span class="state" itemprop="addressRegion">@provider.Address.StateCode</span>
                                                                <span itemprop="postalCode">@provider.Address.Zip</span>
                                                            </address>*@
                                                           @provider.Description
                                                        </p>
                                                        <div class="mb-3">
                                                            <a href="@provider.DetailsUrl">Read More <i class="fas fa-angle-right"></i></a>
                                                        </div>
                                                        <a class="btn btn-outline btn-sm mb-1 mr-2 ml-0 mt-1" href="@provider.DetailsUrl">View Profile</a>
                                                        @if (provider.DisplayProperties.LeadForm)
                                                        {
                                                            <button class="btn btn-primary btn-sm ml-0"
                                                                    data-toggle="lead-form"
                                                                    data-accessor="attr"
                                                                    data-listing-id="@provider.Id"
                                                                    data-listing-name="@provider.Name"
                                                                    data-message="@provider.GetLeadFormMessage()">
                                                                Request Information
                                                            </button>
                                                        }

                                                        @* @if (provider.DisplayProperties.ServiceCategories)
                                                            {
                                                                <div class="mt-3 mb-3">
                                                                    <h4 class="txt-brand-red">Service Categories</h4>
                                                                    <div class="row">
                                                                        @foreach (var category in provider.ServiceCategories)
                                                                        {
                                                                            <div class="col-6 text-center"><span>@category</span></div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if (Model.Paging.Pages.Any())
                            {
                                <ul class="pagination mt-4 mb-0">
                                    @foreach (var page in Model.Paging.Pages)
                                    {
                                        <li class="page-item"><a class="page-link" href="@page.Href">@page.InnerText</a></li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
</div>