@using MSLivingChoices.Entities.Client.Search.Criteria
@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@using MSLivingChoices.Mvc.Uipc.Client.ViewModels

@model SearchTypeStubSearchVm

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Client/Shared/_SimpleLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        mslc.resolve(['lib/jQuery', 'lib/ko', 'client/controls/maps/states'], function($, ko, StatesMap) {
            var $target = $('.map'),
                model = new StatesMap(null, $target);

            ko.applyBindings(model, $target[0]);
        }, 'google-map-init');
        
        mslc.resolve(['client/widgets/googlePublisherTag'], function(gpt) {
            gpt.initSearchResultsSlots({
                country: '@Model.Criteria.CountryCode()',
                state: '@Model.Criteria.StateCode()',
                city: '@Model.Criteria.City()'
            });
        }, 'init-gpt');

        mslc.resolve(['client/analytics/google'], function(ga) {
            ga.trackPageView(@Html.Json(Model.Dimensions));
        }, 'ga-tracking');
    </script>
}

<div class="row">
    <div class="col-12">
        <div class="clearfix text-center">
            <h1 class="header-brand-blue inline-block">@Model.Seo.Header</h1>
        </div>

        <p class="p-4">@Model.Seo.MarketCopy</p>
        
        <div class="map p-4">
            @{ Html.RenderPartial("~/Views/Client/Controls/Map.cshtml"); }
        </div>
        
        @if (Model.Result.Any())
        {
            <div class="row vpad-s">
                <div class="col-md-12">
                    <ul class="nav nav-tabs tabs-inline tabs-brand tabs-condensed txt-upper">
                        @foreach (var letter in Model.Result.Keys)
                        {
                            <li class="@(letter == Model.Result.Keys.First() ? "active" : string.Empty)">
                                <a href="#tab-@letter.ToLowerInvariant()" data-toggle="tab">@letter</a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content filled clearfix">
                        @foreach (var letter in Model.Result.Keys)
                        {
                            <div class="tab-pane@(letter == Model.Result.Keys.First() ? " active" : string.Empty)" id="tab-@letter.ToLowerInvariant()">
                                <ul class="list-col-any-5">
                                    @foreach (var link in Model.Result[letter])
                                    {
                                        <li>
                                            <a class="@link.Css"
                                               href="@link.Href">
                                                @link.InnerText
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-any-7">
        @{ Html.RenderPartial("~/Views/Client/Search/Partial/Order.cshtml"); }
    </div>
</div>