@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.CommunityDetailsVm

<div class="row ind-s avoid-break">
    <div class="col-any-12">
        @if (Model.Community.DisplayProperties.Address)
        {
            <address>
                <span class="address-line">@Model.Community.Address.Line</span>
                <span class="city" >@Model.Community.Address.City</span>
                <span class="state">@Model.Community.Address.StateCode</span>
                <span>@Model.Community.Address.Zip</span>
            </address>
        }
    </div>
    <div class="col-any-12">
        <ul class="list-unstyled txt-right">
            @if (Model.Community.DisplayProperties.Phone)
            {
                <li class="phone icon-phone" itemtype="phone">
                    @Model.Community.Phone
                </li>
            }
            @if (Model.OfficeHours.Any())
            {
                <li>
                    <ul class="list-unstyled office-hours">
                        @foreach (var hour in Model.OfficeHours)
                        {
                            <li>@hour</li>
                        }
                    </ul>
                </li>
            }
            @if (Model.Community.DisplayProperties.WebsiteUrl)
            {
                <li>@Model.WebsiteUrl</li>
            }
            @if (Model.Community.DisplayProperties.VirtualTourUrl)
            {
                <li>@Model.VirtualTourUrl</li>
            }
        </ul>
    </div>
</div>

<ul class="list-inline indent txt-incr ind properties avoid-break">
    @if (Model.Community.Beds.IsValued)
    {
        <li>
            <strong class="value icon-bed">
                @Model.Community.Beds.Value
            </strong>
            <span class="unit">
                @Model.Community.Beds.Unit
            </span>
        </li>
    }
    @if (Model.Community.Bathes.IsValued)
    {
        <li>
            <strong class="value icon-bath">
                @Model.Community.Bathes.Value
            </strong>
            <span class="unit">
                @Model.Community.Bathes.Unit
            </span>
        </li>
    }
    @if (Model.Community.Area.IsValued)
    {
        <li>
            <strong class="value icon-square">
                @Model.Community.Area.Value
            </strong>
            <span class="unit">
                @Model.Community.Area.Unit
            </span>
        </li>
    }
</ul>