@model MSLivingChoices.Mvc.Uipc.Client.ViewModels.CommunityPrintDirectionVm

@{
    Layout = "~/Views/Client/Shared/_PrintLayout.cshtml";
}

@section scripts
{
    @if (Model.Community.DisplayProperties.Map)
    {
        <script type="text/javascript">
            mslc.resolve(['lib/jQuery', 'lib/ko', 'client/controls/maps/printDirection'], function($, ko, PrintDirectionMap) {
                var $target = $('[data-container="map"]'),
                    data = {
                        startLatitude: @Model.StartLatitude,
                        startLongitude: @Model.StartLongitude,
                        endLatitude: @Model.Community.Address.Latitude,
                        endLongitude: @Model.Community.Address.Longitude,
                        endAddress: '@Html.Raw(Model.Community.Address.ToString())'
                    },
                    model = new PrintDirectionMap(data, $target);
                
                ko.applyBindings(model, $target[0]);
            }, 'init-print-community-direction');
        </script>
    }
}

<div class="row details">
    @{ Html.RenderPartial("~/Views/Client/Print/Partial/CommunityHeader.cshtml", Model); }

    @{ Html.RenderPartial("~/Views/Client/Print/Partial/CommunityInfo.cshtml", Model); }

    @if (Model.Community.DisplayProperties.Map)
    {
        Html.RenderPartial("~/Views/Client/Print/Partial/Map.cshtml");
    }
</div>