@using UserManagementSystem.Localization
@using UserManagementSystem.Web.Helpers;
@model UserManagementSystem.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts 
{
    @Url.Script("jquery/jquery.validate.min.js")
    @Url.Script("jquery/jquery.validate.unobtrusive.min.js")
}
<div class="container">
    <h2>@StaticContent.Ttl_ChangePassword</h2>
    <p>@StaticContent.WtrMrk_ChangePassword</p>
    @using (Html.BeginForm())
    {
        if (!ViewData.ModelState.IsValid)
        {
        <div class="validation-summary-errors alert alert-block alert-error">
            @Html.ValidationMessage(UserManagementSystem.Web.Models.ModelErrorKey.UnsuccessfulPasswordChange.ToString())
        </div>
        }
        <fieldset>
            <legend>@StaticContent.Lgd_ChangePassword</legend>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.OldPassword)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.OldPassword, new { @class = "alert alert-block alert-error" })
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.NewPassword)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.NewPassword, new { @class = "alert alert-block alert-error" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.ConfirmPassword, new { @class = "alert alert-block alert-error" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" value="@StaticContent.Bnt_Change" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>
