@using UserManagementSystem.Localization;
@using UserManagementSystem.Web.Helpers;

@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Url.Css("bootstrap/bootstrap.min.css")
    @Url.Css("site.css")
</head>

<body>
    <div class="container">
        <h2>@StaticContent.Ttl_ForgotPassword</h2>
        <p>@StaticContent.Txt_PleaseCheckYourEmailAnd @Html.ActionLink("Log on", "LogOn", "Account").</p>
        
        <footer>
            <p>&copy; NPMG @DateTime.Now.Year</p>
        </footer>
    </div>

    @Url.Script("jquery/jquery-1.8.2.min.js")
    @Url.Script("bootstrap/bootstrap.min.js")
</body>
</html>
