@using UserManagementSystem.Localization;
@using UserManagementSystem.Web.Helpers;
@model UserManagementSystem.Web.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Url.Css("bootstrap/bootstrap.min.css")
    @Url.Css("site.css")
</head>

<body>
    <div class="container">
        <h2>@StaticContent.Ttl_ForgotPassword</h2>
        <p>@StaticContent.WtrMrk_ForgotPassword</p>

        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true, @ErrorMessages.UnsuccessfulForgot, new { @class = "alert alert-block alert-error" })
            <fieldset>
                <legend>@StaticContent.Lgd_ForgotPassword</legend>

                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            @Html.EditorFor(model => model.Email)
                        </div>
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" value="@StaticContent.Btn_Restore" class="btn btn-primary" />
                </div>
            </fieldset>
        }
        <footer>
            <p>&copy; NPMG @DateTime.Now.Year</p>
        </footer>
    </div>

    @Url.Script("jquery/jquery-1.8.2.min.js")
    @Url.Script("jquery/jquery.validate.min.js")
    @Url.Script("jquery/jquery.validate.unobtrusive.min.js")
    @Url.Script("bootstrap/bootstrap.min.js")
</body>
</html>
