@using MSLivingChoices.Entities.Client.Enums
@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@model List<MSLivingChoices.Mvc.Uipc.Client.ViewModels.FloorPlanVm>

    <style>
        img {
            max-width: 100%;
        }
    </style>

    <table class="table">
            <tr>
                <td>Floor Plan</td>
                <td>Layout</td>
                <td>Price</td>
                <td>Availability</td>
            </tr>

            @foreach (var floor in Model)
            {
                <tr data-toggle="community-unit" data-unit-id="@floor.Id">
                    <td>
                        <div class="row">
                            <div class="col-md-4 @(floor.DisplayProperties.Image ? "view-large icon-search" : string.Empty)">
                                @if (floor.DisplayProperties.Image)
                                {
                                    @RenderHelper.Thumbnail(floor.Image)
                                }
                            </div>

                            <div class="col-md-8">
                                @if (floor.DisplayProperties.Name)
                                {
                                    <strong>@floor.Name</strong>
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                @if (floor.Area.IsValued)
                                {
                                    <strong>@floor.Area.Value</strong>
                                    <span class="txt-black">@floor.Area.Unit</span>
                                }
                                @if (floor.Beds.IsValued)
                                {
                                    <div class="txt-black">
                                        <span class="txt-bold">@floor.Beds.Value</span>
                                        <span>@floor.Beds.Unit</span>
                                    </div>
                                }
                                @if (floor.Bathes.IsValued)
                                {
                                    <div class="txt-black">
                                        <span class="txt-bold">@floor.Bathes.Value</span>
                                        <span>@floor.Bathes.Unit</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-unstyled">
                                    @if (floor.DisplayProperties.Price)
                                    {
                                        <li class="strong">@floor.Price</li>
                                    }
                                    @if (floor.DisplayProperties.ApplicationFee)
                                    {
                                        <li class="txt-decr">Fees: @floor.ApplicationFee</li>
                                    }
                                    @if (floor.DisplayProperties.Deposit)
                                    {
                                        <li class="txt-decr">Deposit: @floor.Deposit</li>
                                    }
                                    @if (floor.DisplayProperties.PetDeposit)
                                    {
                                        <li class="txt-decr">Pet Deposit: @floor.PetDeposit</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                @if (floor.DisplayProperties.LeadForm)
                                {
                                    <button class="btn btn-block btn-brand-red cropped"
                                            data-toggle="lead-form"
                                            data-accessor="attr"
                                            data-inquiry="@Convert.ToInt32(InquiryType.FloorPlan)"
                                            data-unit-id="@floor.Id"
                                            data-message="@floor.GetLeadFormMessage()">
                                        Check
                                    </button>
                                }
                            </div>

                        </div>
                    </td>
                    @if (floor.DisplayProperties.Amenities)
                    {
                        <td>
                            <div class="row">
                                <div class="col-md-12 ind chk">
                                    <h4 class="header-brand-red">
                                        Features and Amenities
                                    </h4>
                                    <div class="row">
                                        <style>
                                            .amenities li {
                                                display: inline-block;
                                                margin-right:12px;
                                            }
                                        </style>
                                        <div class="col-md-12">
                                            <ul class="amenities">
                                                @foreach (var amenity in floor.Amenities)
                                                {
                                                    <li>@amenity</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
    </table>
