@using MSLivingChoices.Localization
@{
    Layout = "~/Views/Client/Shared/_SimpleLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        mslc.resolve(['client/analytics/google'], function (ga) {
            ga.trackPageView();
        }, 'ga-tracking');
    </script>
}


<!--=================================
inner banner -->
<div class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="inner-title text-white">@PrivacyPolicy.Header</h1>
            </div>
        </div>
    </div>
</div>
<!--=================================
inner banner -->
<!--=================================
login -->
<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="mb-5">@PrivacyPolicy.PP_1</p>

                <h4 class="text-secondary mb-4"><span class="step">01</span>@PrivacyPolicy.PP_2</h4>
                <p>@PrivacyPolicy.PP_3</p>
                <p>@PrivacyPolicy.PP_4</p>
                <p class="mb-5">@PrivacyPolicy.PP_5</p>

                <h4 class="text-secondary mb-4"><span class="step">02</span> @PrivacyPolicy.PP_6</h4>
                <p>@PrivacyPolicy.PP_7</p>

                <h5 class="text-dark mb-3"> @PrivacyPolicy.PP_8</h5>
                <p class="mb-3">@PrivacyPolicy.PP_9</p>
                <p class="mb-3">@PrivacyPolicy.PP_10</p>
                <p class="mb-3">@PrivacyPolicy.PP_11</p>
                <p class="mb-5">@PrivacyPolicy.PP_12</p>

                <h4 class="text-secondary mb-4"><span class="step">03</span> @PrivacyPolicy.PP_13</h4>
                <p class="mb-5">@PrivacyPolicy.PP_14</p>

                <h4 class="text-secondary mb-4"><span class="step">04</span> @PrivacyPolicy.PP_15</h4>
                @*<p>@PrivacyPolicy.PP_16&nbsp;<a href="http://www.doubleclick.net/us/corporate/privacy" target="_blank">http://www.doubleclick.net/us/corporate/privacy</a></p>
                <p>@PrivacyPolicy.PP_17</p>*@
                <p class="mb-5">@PrivacyPolicy.PP_18</p>
                <p class="mb-5">@PrivacyPolicy.PP_19</p>
                <p class="mb-5">@PrivacyPolicy.PP_20</p>

                <h4 class="text-secondary mb-4"><span class="step">05</span> @PrivacyPolicy.PP_21</h4>
                <p>@PrivacyPolicy.PP_22</p>
                <p class="mb-5"> @PrivacyPolicy.PP_23 </p>

                <h4 class="text-secondary mb-4"><span class="step">06</span> @PrivacyPolicy.PP_24</h4>
                <p>@PrivacyPolicy.PP_25&nbsp;<br></p>
                <p class="mb-5">@PrivacyPolicy.PP_26</p>

                <h4 class="text-secondary mb-4"><span class="step">07</span> @PrivacyPolicy.PP_27</h4>
                <p>@PrivacyPolicy.PP_28</p>
                <p>@PrivacyPolicy.PP_29</p>
                <p>@PrivacyPolicy.PP_30</p>
                <p>@PrivacyPolicy.PP_31</p>
                <p class="mb-5">@PrivacyPolicy.PP_32</p>

                <h4 class="text-secondary mb-4"><span class="step">08</span> @PrivacyPolicy.PP_33</h4>
                <p>@PrivacyPolicy.PP_34</p>
                <p>
                    @PrivacyPolicy.PP_35
                </p>
                <p>@PrivacyPolicy.PP_36</p>
                <p>@PrivacyPolicy.PP_37</p>
                <p>@PrivacyPolicy.PP_38a  <a href="mailto:info@seniorlivingchoices.com">info@seniorlivingchoices.com</a> </p>
                <p class="mb-5">@PrivacyPolicy.PP_38b <a href="mailto:info@seniorlivingchoices.com">info@seniorlivingchoices.com</a></p>
                <p>@PrivacyPolicy.PP_39</p>
                <p>@PrivacyPolicy.PP_40</p>
                <h4 class="text-secondary mb-4"><span class="step">09</span> @PrivacyPolicy.PP_41</h4>
                <p>@PrivacyPolicy.PP_42</p>
                <p class="mb-5">@PrivacyPolicy.PP_43</p>
                <h4 class="text-secondary mb-4"><span class="step">10</span> @PrivacyPolicy.PP_44</h4>
                <p>@PrivacyPolicy.PP_45</p>
                <p class="mb-5">@PrivacyPolicy.PP_46</p>
                <h4 class="text-secondary mb-4"><span class="step">11</span> @PrivacyPolicy.PP_47</h4>
                <p>@PrivacyPolicy.PP_48</p>
                <p class="mb-5">
                    @PrivacyPolicy.PP_49
                </p>

                <h4 class="text-secondary mb-4"><span class="step">12</span> @PrivacyPolicy.PP_50</h4>
                <p>
                    @PrivacyPolicy.PP_51 <a href="mailto:info@seniorlivingchoices.com">info@SeniorLivingChoices.com</a>
                </p>
                <p class="mb-0">
                    @PrivacyPolicy.PP_52&nbsp;<a href="mailto:webmaster@seniorlivingchoices.com">webmaster@seniorlivingchoices.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

@*<h1>@PrivacyPolicy.Header</h1>*@
@*<p>@PrivacyPolicy.PP_1</p>*@
@*<h4 class="ind-s">@PrivacyPolicy.PP_2</h4>*@
@*<p>@PrivacyPolicy.PP_3</p>*@
@*<p>@PrivacyPolicy.PP_4</p>*@
@*<p>@PrivacyPolicy.PP_5</p>*@
@*<h4 class="ind-s">@PrivacyPolicy.PP_6</h4>*@
@*<p>@PrivacyPolicy.PP_7</p>*@
@*<p>@PrivacyPolicy.PP_8</p>*@
@*<p>@PrivacyPolicy.PP_9</p>*@
@*<p>@PrivacyPolicy.PP_10</p>*@
@*<p>@PrivacyPolicy.PP_11</p>*@
@*<p>@PrivacyPolicy.PP_12</p>*@
@*<h4 class="ind-s">@PrivacyPolicy.PP_13</h4>*@
@*<p>@PrivacyPolicy.PP_14</p>*@
@*<h4 class="ind-s">@PrivacyPolicy.PP_15</h4>*@
@*<p>
    @PrivacyPolicy.PP_16&nbsp;<a href="http://www.doubleclick.net/us/corporate/privacy" target="_blank">http://www.doubleclick.net/us/corporate/privacy</a>
</p>*@
@*<h4 class="ind-s">@PrivacyPolicy.PP_17</h4>*@
@*<p>@PrivacyPolicy.PP_18</p>*@
@*<p>@PrivacyPolicy.PP_19</p>*@
@*<p>@PrivacyPolicy.PP_20</p>*@
@*<h4 class="ind-s">@PrivacyPolicy.PP_21</h4>*@
@*<p>@PrivacyPolicy.PP_22</p>*@
@*<p>
    @PrivacyPolicy.PP_23&nbsp;<br>
</p>*@
@*<h4 class="ind-s">@PrivacyPolicy.PP_24</h4>*@
@*<p>@PrivacyPolicy.PP_25</p>*@
@*<p>@PrivacyPolicy.PP_26</p>*@
@*<h4 class="ind-s">@PrivacyPolicy.PP_27</h4>*@
@*<p>@PrivacyPolicy.PP_28</p>*@
@*<p>@PrivacyPolicy.PP_29</p>*@
@*<p>@PrivacyPolicy.PP_30</p>
<p>@PrivacyPolicy.PP_31</p>
<p>@PrivacyPolicy.PP_32</p>
<h4 class="ind-s">@PrivacyPolicy.PP_33</h4>
<p>@PrivacyPolicy.PP_34</p>
<p>@PrivacyPolicy.PP_35</p>
<p>@PrivacyPolicy.PP_36</p>
<p>@PrivacyPolicy.PP_37</p>
<p>
    @PrivacyPolicy.PP_38a&nbsp;<a href="mailto:webmaster@seniorlivingchoices.com">webmaster@seniorlivingchoices.com</a>
@PrivacyPolicy.PP_38b
</p>
<p>
    @PrivacyPolicy.PP_39&nbsp;<a href="mailto:webmaster@seniorlivingchoices.com">webmaster@seniorlivingchoices.com</a>
</p>
<p>@PrivacyPolicy.PP_40</p>
<h4 class="ind-s">@PrivacyPolicy.PP_41</h4>
<p>@PrivacyPolicy.PP_42</p>
<p>@PrivacyPolicy.PP_43</p>
<h4 class="ind-s">@PrivacyPolicy.PP_44</h4>
<p>@PrivacyPolicy.PP_45</p>
<p>@PrivacyPolicy.PP_46</p>*@
@*<h4 class="ind-s">@PrivacyPolicy.PP_47</h4>*@


@*<p>@PrivacyPolicy.PP_48</p>
<p>@PrivacyPolicy.PP_49</p>
<h4 class="ind-s">@PrivacyPolicy.PP_50</h4>
<p>@PrivacyPolicy.PP_51</p>
<p class="indent-bottom-s">
    @PrivacyPolicy.PP_52&nbsp;<a href="mailto:webmaster@seniorlivingchoices.com">webmaster@seniorlivingchoices.com</a>
</p>*@
