@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@using MSLivingChoices.Mvc.Uipc.Client.ViewModels

@model List<CommunityShortVm>

@if (Model.Any())
{
    <h4 class="header-brand-blue txt-upper">
        Featured Communities
    </h4>
    <ul class="featured-communities featured row-wrap list-unstyled">
        @foreach (var community in Model)
        {
            <li class="vpad-s">
                <div class="col-any-offset-2 col-any-20 ">
                    <div class="txt-center">
                        <a href="@community.DetailsUrl"
                           class="name">
                            @( community.DisplayProperties.Name ? community.Name : "View details")
                        </a>
                    </div>
                    <div class="img-wrapper ind-s">
                        @if (community.DisplayProperties.Image)
                        {
                            <a href="@community.DetailsUrl"
                               class="name">
                                <div class="img-bg">
                                    @RenderHelper.Thumbnail(community.Image)
                                </div>
                            </a>
                        }
                        @if (community.DisplayProperties.Price)
                        {
                            <p class="price">
                                @community.Price
                            </p>
                        }
                        @if (community.DisplayProperties.PhotoCount)
                        {
                            <span class="photo-count icon-photo">
                                @community.PhotoCount
                            </span>
                        }
                    </div>
                    @if (community.DisplayProperties.Address)
                    {
                        <address class="ind-s txt-center">
                            <span class="address-line">@community.Address.Line</span>
                            <span class="city">@community.Address.City</span>
                            <span class="state">@community.Address.StateCode</span>
                            <span>@community.Address.Zip</span>
                        </address>
                    }
                </div>
            </li>
        }
    </ul>
}