@using MSLivingChoices.Mvc.Uipc.Client.Helpers
@using MSLivingChoices.Mvc.Uipc.Client.ViewModels

@model FeaturedServicesVm
@if (Model.Items.Any())
{
    <div class="featured-services">
        <h4 class="txt-upper hpad">Area Products & Services</h4>
        <div id="featured-services-carousel" class="horizontal-carousel" data-bind="click: stopAutoShift">
            <div class="carousel-container">
                <ul class="featured row-wrap list-unstyled carousel">
                    @foreach (var provider in Model.Items)
                    {
                        <li class="vpad-s carousel-item">
                            <div class="col-any-24">
                                <div class="txt-center">
                                    <a href="@provider.DetailsUrl"
                                       class="name"
                                       target="_blank">
                                        @if (provider.DisplayProperties.Name)
                                        {
                                            @provider.Name
                                        }
                                    </a>
                                </div>
                                <div class="img-wrapper ind-s">
                                    @if (provider.DisplayProperties.Image)
                                    {
                                        <a href="@provider.DetailsUrl"
                                           class="name"
                                           target="_blank">
                                            <div class="img-bg">
                                                @RenderHelper.Thumbnail(provider.Image)
                                            </div>
                                        </a>
                                    }

                                    @if (provider.DisplayProperties.PhotoCount)
                                    {
                                        <span class="photo-count icon-photo">
                                            @provider.PhotoCount
                                        </span>
                                    }
                                </div>
                                @if (provider.DisplayProperties.Address)
                                {
                                    <address class="ind-s txt-center">
                                        <span class="address-line">@provider.Address.Line</span>
                                        <span class="city">@provider.Address.City</span>
                                        <span class="state">@provider.Address.StateCode</span>
                                        <span>@provider.Address.Zip</span>
                                    </address>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
            @if (Model.Items.Count > 1)
            {
                <span class="carousel-next-button icon-arrow-right txt-black"></span>
                <span class="carousel-prev-button icon-arrow-left txt-black"></span>
            }
            <div class="txt-right see-all-link">
                <a href="@Model.AreaServicesLink">See all @Model.AreaName Products & Services</a>
            </div>
        </div>
    </div>
}